<footer class="bg-dark text-center text-white fixed-bottom">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook
        <a class="bg-light rounded-circle btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <img type="svg" src="../../../assets/images/facebook.svg">
        </a> -->
  
        <!-- Twitter
        <a class="bg-light rounded-circle btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <img type="svg" src="../../../assets/images/facebook.svg">
        </a> -->
  
        <!-- Google
        <a class="bg-light rounded-circle btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <img type="svg" src="../../../assets/images/facebook.svg">
        </a>  -->
  
        <!-- Instagram
        <a class="bg-light rounded-circle btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <img type="svg" src="../../../assets/images/facebook.svg">
        </a> -->
  
        <!-- Linkedin -->
        <a class="bg-light rounded-circle btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <img type="svg" src="../../../assets/images/linkedin.svg">
        </a>
  
        <!-- Github -->
        <a class="bg-light rounded-circle btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <img type="svg" src="../../../assets/images/github.svg">
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://localhost:4200/">Mon Site</a>
    </div>
    <!-- Copyright -->
  </footer>